<nav class="navbar fixed-top navbar-expand-md
    navbar-{{ navbarBgColor|default:'dark' }} bg-{{ navbarBgColor|default:'dark' }} p-0">

    {#Left#}
    <button class="navbar-toggler m-2" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">

            {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link text-{{ navbarFgColor|default:'light' }} p-3"
                       href="{% url 'main-shop' %}" title="Products">
                        <i class="fas fa-shopping-basket"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-{{ navbarFgColor|default:'light' }} p-3"
                       href="{% url 'main-cart' %}" title="Cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>

            {% endif %}

        </ul>
    </div>


    {#Center#}
    <div class="order-0">
        <a class="navbar-brand mx-auto text-{{ navbarFgColor|default:'light' }} p-3"
           href="{% url 'main-shop' %}" title="Products">
            <i class="fas fa-shopping-basket"></i>
            {{ my_website_name }}
        </a>
    </div>


    {#Right#}
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link text-{{ navbarFgColor|default:'light' }} p-3"
                       href="{% url 'users-profile' %}" title="Hi, {{ user.name }}!">

                        <img src="{{ user.profile.image.url }}" alt="{{ user.name }}"
                             width="42px" height="42px" class="rounded-circle mr-2">

                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-{{ navbarFgColor|default:'light' }} p-3"
                       href="/admin/" title="Administration">
                        <i class="fas fa-tools"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-{{ navbarFgColor|default:'light' }} p-3"
                       href="{% url 'users-logout' %}" title="Logout">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>

            {% else %}

                <li class="nav-item">
                    <a class="nav-link text-{{ navbarFgColor|default:'light' }} p-3"
                       href="{% url 'users-login' %}" title="Login">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-{{ navbarFgColor|default:'light' }} p-3"
                       href="{% url 'users-register' %}" title="Register">
                        <i class="fas fa-user-plus"></i>
                    </a>
                </li>

            {% endif %}

        </ul>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

<div class="py-3">&nbsp;</div>
