<div class="content-section">
    <h3>Categories</h3>
    <div class="tree">
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">1
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">1</li>
                    <li class="list-group-item list-group-item-light">2</li>
                    <li class="list-group-item list-group-item-light">3</li>
                    <li class="list-group-item list-group-item-light">4</li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-light">2
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">1</li>
                    <li class="list-group-item list-group-item-light">2</li>
                    <li class="list-group-item list-group-item-light">3</li>
                    <li class="list-group-item list-group-item-light">4</li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-light">3
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">1</li>
                    <li class="list-group-item list-group-item-light">2</li>
                    <li class="list-group-item list-group-item-light">3</li>
                    <li class="list-group-item list-group-item-light">4</li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-light">4
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">1</li>
                    <li class="list-group-item list-group-item-light">2</li>
                    <li class="list-group-item list-group-item-light">3</li>
                    <li class="list-group-item list-group-item-light">4</li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-light">5
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">1</li>
                    <li class="list-group-item list-group-item-light">2</li>
                    <li class="list-group-item list-group-item-light">3</li>
                    <li class="list-group-item list-group-item-light">4</li>
                </ul>
            </li>
        </ul>
    </div>
</div>