{% extends "main/base.html" %}

{% block content %}

    <div class="container">

        <div class="row mt-5 bg-white">

            <div class="col-12 p-2 bg-secondary text-light">
                <span class="display-4">{{ title }}</span>
            </div>

            <div class="col-12 shop-body">
                <div class="row h-100">

                    <div class="col-md-4 p-1 bg-info">
                        {% include 'main/partials/sidebar.html' %}
                    </div>

                    <div class="col-md-8 p-3 bg-success">
                        <ul>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                            <li>text</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 py-2 bg-secondary text-light text-center">footer</div>
        </div>
    </div>

{% endblock content %}
